<ul class="nav justify-content-end">
  <li>
  <img src="<%= asset_path 'logo.jpeg'%>" class="img-fluid" alt="...">
  

  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>

<h2><%= link_to 'mi blog', controller: 'articles'%></h2>


<div class="container">
<div class="card">
</div>
  <div class="row">
    <div class="col">
      <%= link_to clientes_url do %>
        <div class="card" style="width: 18rem;">
        
          <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <h6 class="card-subtitle mb-2 text-muted">Clientes Registrados</h6>
            <p class="card-text"></p>
            <%= link_to 'New Cliente', new_cliente_path, :class=>"card-link" %>
            <a href="#" class="card-link">clientes Activos</a>
          </div>
          
        </div>
        <%end%>
    </div>
    <div class="col">

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Pedidos</h5>
    <h6 class="card-subtitle mb-2 text-muted">Actividad</h6>
    <p class="card-text"></p>
    <a href="#" class="card-link">Crear Pedido</a>
    <a href="#" class="card-link">pedidos Activos</a>
  </div>
</div>
      
    </div>
    <div class="col">
    
    </div>
  </div>
</div>

